<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Deepcrunch</a>
                <div class="description">
                    <p>We are a team of young hackers having loads of fun coding crazy ideas about serious (and not so serious) subjects.</p>
                </div>
            </div>
        </div>
    </div>
</div>
